body{
    background-color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
*{
    font-family: sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 40px ;
}
.nav button{
    background-color: #ffffff;
    color: #fa8fc5;
    box-shadow: none;
    border: 2px solid #fa8fc5;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
}
.nav img{
    width: 180px;
}
.interdoce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.interdoce h1{
    margin-top: 80px;
    word-spacing: 4px;
    font-size: 35px;
    font-weight: 600;
    text-align:center;
}
.interdoce p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    text-align:center;
    margin: 30px 0;
}
.interdoce button{
    color: #ffffff;
    background-color: #f953c0;
    box-shadow: none;
    border: 2px solid #fa8fc5;
    border-radius: 30px;
    font-size: 20px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
.interdoce button:hover{
    background-color: #fa8ed6;
}
.img{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    display: block;
    margin: auto;
}
.image{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 200px;
}
.image .first{
    display: flex;
    flex-direction: column;
}
.first img,.second img{
    width: 30px;
}
.first h1,.second h1{
    font-size: 45px;
}
.first p,.second p{
    font-size: 10px;
    color: #b4b4b4;
}
.compain{
    height: 1900px;
    position: relative;
    bottom: 250px;
}
.one,.tow,.three{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 320px; 
    margin-bottom: 300px;
}
.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one img,.tow img,.three img{
    width: 300px;
}
.inside p{
    font-size: 13px;
    font-weight: 200;
    padding-top: 30px;
}
.one,.three{
    background-color: #f6fbff;
}
.one{
    margin-top: 600px;
}
.tow{
    margin-top: 500px;
}
.three{
   position: relative;
   bottom: 200px;
}
.bir{
    position: absolute;
    bottom: 1830px;
    z-index: -1;
    width: 100%;
}
.iki{
    position: relative;
    bottom: 190px;
    z-index: -1;
}
.uc{
    position: relative;
    bottom: 640px;
    z-index: -1;
}
.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 280px;
    margin-bottom: 100px;
}
.last h1{
    text-align: center;
    padding-bottom: 50px;
    font-weight: 600;
}
.last button{
    color: #ffffff;
    background-color: #f953c0;
    border: 2px solid #fa8fc5;
    border-radius: 30px;
    font-size: 20px;
    padding: 13px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
.last button:hover{
    background-color: #fa8ed6;
}
.sex{
    position: relative;
    top: 90px;
    z-index: -1;
}
#email:valid{
    border-color: green;
}
#email:focus:invalid{
    border-color: red;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #032630;
    color: white;
    height: 500px;
}
.renew{
    display: flex;
    align-items: center;
}
.h1{
    color: white;
    font-weight: 800;
    font-size: 69px;
    margin-left: 20px;
}
.renew img{
    width: 70px;
    height: 70px;
}
.right{
    display: flex;
    flex-direction: column;
}
.right img{
    padding-bottom: 15px;
}
.right p{
    line-height: 30px;
}
.phone,.email,.icon{
    display: flex;
    align-items: center;
}
.phone img,.email img{
    width: 15px;
    height: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.email{
    margin-bottom: 20px;
}
.left{
    position: relative;
    bottom: 50px;
}
.left p{
    line-height: 30px;
}
.left .input{
    display: flex;
    align-items: center;
}
.input input{
    height: 30px;
    width: 160px;
    border-radius: 7px;
}
.input button{
    color: #ffffff;
    background-color: #f953c0;
    border: 2px solid #fa8fc5;
    box-shadow: none;
    border-radius: 7px;
    font-size: 17px;
    padding: 7px;
    width: 150px;
    margin-left: 15px;
}
.input button:hover{
    background-color: #fa8ed6;
}
#twitter{
    height: fit-content;
}
#twitter:hover{
    background-color: #2dc7f8;
    background-size: auto;
}
@media all and (max-width:450px ){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav{
        display: flex;
        justify-content: space-around;
    }
    .nav button{
        position: relative;
        left: 20px;
        font-size: 15px;
    }
    .nav img{
        width: 100px;
        position: relative;
    }
    .interdoce{
        position: relative;
        left: 50px;
    }
    .interdoce h1{
        width: 300px;
    }
    .interdoce p{
        font-size: 27px;
        line-height: 35px;
        width: 300px;
    }
    .interdoce button{
        width: 300px;
        margin-right: 200px;
    }
    .img{
        width: 300px;
        position: relative;
        left: 20px;
    }
    .image{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 153px;
    }
    .one,.tow,.three{
        margin-bottom: 50px;
        width: 170%;
    }
    .one p,.tow p,.three p{
        font-size: 20px;
        padding-top: 10px;
    }
    .last{
        position: relative;
        left: 7px;
        top: 150px;
        bottom: 100px;
        margin-bottom: 100px;
    }
    footer{
        width: 180%;
        height: 900px;
        flex-direction: column;
        position: relative;
        top: 300px;
    }
    .left{
        position: relative;
        bottom: 500px;
        right: 120px;
    }
    .right{
        position: relative;
        top: 320px;
        right: 143px;
    }
    .compain{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .one,.tow,.three{
        position: absolute;
        margin-bottom: 300px;
    }
    .one .inside{
        background-color: #f6fbff;
        width: 170%;
        text-align: center;
        flex-wrap: wrap;
    }
    .iki{
        position: absolute;
        top: 1553px;
    }
    .tow .inside{
        width: 300px;
        padding-top: 50px;
        text-align: center;
    }
    .one img{
        position: absolute;
        top: 0;
    }
    .tow img{
        position: absolute;
        top: 10px;
    }
    .three{
        position: relative;
        top: 1700px;
        width: 170%;
        display: flex;
        justify-content: center;
    }
    .bir{
        position: absolute;
        bottom: 1700px;
    }
    .uc{
        position: absolute;
        top: 2260px;
    }
    .one{
        position: absolute;
        margin-top: 200px;
    }
    .tow{
        margin-top: 980px;
    }
    .one .inside,.tow .inside{
        margin-top: 250px;
    }
    .three .inside{
        position: relative;
        top: 290px;
        width: 180%;
        background-color: #f6fbff;
        text-align: center;
        flex-wrap: wrap;
    }
    .one .inside p{
        width: 210px;
        text-align: center;
        margin-left: 230px;
    }
    .three .inside p{
        width: 280px;
        text-align: center;
        margin-left: 60px;
    }
    .three img{
        position: relative;
        bottom: 250px;
    }
    .sex{
        position: absolute;
        top: 526%;
        width: 140%;
    }
    .bir,.iki,.uc{
        width: 170%;
    }
    .input{
        display: flex;
        flex-direction: column;
    }
    .input #email{
        margin-right: 170px;
        width: 220px;
        margin-bottom: 15px;
    }
    .input button{
        margin-right: 103px;
    }
    .left p{
        display: flex;
        flex-wrap: wrap;
    }
    .renew h1{
        font-size: 58px;
    }
    .son{
        position: relative;
        bottom: 10px;
    }
}

@media all and (min-width:815px ){
    .nav button{
        position: relative;
        right: 50px;
        font-size: 30px;
    }
    .nav img{
        width: 200px;
        position: relative;
        left: 50px;
    }
    .interdoce h1{
        position: relative;
        left: 29px;
        width: 400px;
        line-height: 57px;
    }
    .interdoce{
        position: relative;
        left: 290px;
    }
    .interdoce p{
        font-size: 33px;
        line-height: 35px;
        width: 500px;
    }
    .interdoce button{
        width: 300px;
        position: relative;
        right: 250px;
    }
    .img{
        width: 800px;
        position: relative;
        left: 20px;
    }
    .image{
        margin-top: 210px;
    }
    .one{
        height: 400px;
        padding-top: 100px;
    }
    .son{
        position: relative;
        top: 50px;
    }
    .tow{
        position: relative;
        bottom: 170px;
    }
    .three{
        height: 400px;
        position: relative;
        bottom: 400px;
    }
    .inside p{
        font-size: 25px;
        width: 500px;
    }
    .iki{
        position: relative;
        bottom: 393px;
    }
    .uc{
        position: relative;
        bottom: 700px;
    }
    .last{
        position: relative;
        bottom: 250px;
    }
    .sex{
        position: absolute;
        top: 315%;
    }
}
@media all and (max-width:850px ){
 
}
/*
@media all and (min-width:767px ) and (max-width:800px ){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sex{
        position: absolute;
        top: 373%;
        width: 140%;
    }
    .one{
        margin-top: 200px;
    }
    .tow{
        margin-bottom: 450px;
    }
    .three{
        margin-top: 40px;
    }
    .bir {
        position: relative;
        top: 210px;
    }
    .iki{
        position: relative;
        bottom: 254px;
    }
    .uc{
        position: absolute;
        top: 1950px;   
    }
    .last{
        position: relative;
        bottom: 250px;
    }
}
*/